@font-face {
    font-family: Dosis-ExtraBold;
    src: url(/fonts/Dosis-ExtraBold.ttf);
}

body {
    font-family: Dosis-Extrabold;
}

#reloadButton {
    border-style: solid;
    border-color:maroon;
    background-color: tomato;
    color: maroon; 
    border-radius: 12px;
    padding: 5px;

}

#reloadButton:hover {
    box-shadow: 2px 2px 0px black;
}

#reloadButton:active {
    background-color: maroon;
    color: white;
    border-color: black;
}

.header {
    background: indigo;
    color: white;
    overflow: hidden;
    margin: 0;

}

.hsdev {
    box-shadow: 0 0 100px 50px black;
}